
body {
    background-color: 
    antiquewhite;
}

img {
    float: left;
    margin: 10px;
    border: 5px solid burlywood;
    border-radius: 10px;
    max-height: 250px;
}





.moves{
    font-size: 20px;
    background-color: white;
    border: 5px solid burlywood;
    width: 95%;
}

/* RIGHT SIDE */
#options{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}



#moveDescription{
    display: none;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-content: center;
}




button{
    border: 2px dashed black;
    font-family: monospace;
    font-size: 20px;
    font-style: oblique;
    padding: 10px;
}

button:hover{
    background-color: rgb(204, 203, 203);
}

button:active{
    border: 2px solid black;
}

body{
    font-family: monospace;
}

.battleSheet{
    align-content: center;
    height: 100vw;
    text-align: center;
}


.attackButton{
    width: 100%;
}


#myInfo{
    position: fixed;
    width: 100%;
}

.moveList{
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}



#myPokePic{
    width: 300px;
    background-color: white;
}

#myPokeName{
    float: left;
    font-size: 20px;
}

h2{
    float: left;
}
